<!DOCTYPE html>
<html lang="en-US" ng-app="scheduleApp">
<head>
    <meta charset="utf-8">
    <title>I1 Email Sender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="css/modern.css">-->
    <link href="css/quartz.css" rel="stylesheet">
    <link href="css/ng-grid.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
</head>

<body ng-controller="scheduleController">

<!--<div class="container-narrow">-->
<div class="row-fluid">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="report.html">Report</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <h3 class="muted">Email Sender</h3>
    </div>

    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="span1 bs-docs-sidebar ">
                <!--Sidebar content-->
                <ul class="nav nav-list bs-docs-sidenav affix">
                    <li class="">
                        <a href="#server" ng-click="changeContent();serverShow=true"><i class="icon-chevron-right"></i>quartz
                            server</a>
                    </li>
                    <li class="">
                        <a href="#jobDetail" ng-click="changeContent();jobDetailShow=true"><i
                                class="icon-chevron-right"></i>quartz
                            jobDetail</a>
                    </li>

                    <li>
                        <a href="#listener" ng-click="changeContent();listenerShow=true"><i
                                class="icon-chevron-right"></i>quartz
                            Listener</a>
                    </li>

                </ul>
            </div>
            <div class="span11">
                <!--Body content-->
                <section>
                    <!--server-->
                    <div id="server" ng-show="serverShow">
                        <!--<table class="table table-striped table-bordered table-hover">-->
                        <!--<tr>-->
                        <!--<td>server IP</td>-->
                        <!--<td>状态</td>-->
                        <!--</tr>-->
                        <!--</table>-->
                    </div>

                    <!--添加job-->
                    <div id="jobDetail" ng-show="jobDetailShow">

                        <table class="table table-striped table-bordered table-hover">

                            <tr>
                                <td>任务名称</td>
                                <td><input id="jobName" type="text" ng-model="quartz.jobName"></td>
                                <td>任务执行Class</td>
                                <td><input id="jobClass" type="text" ng-model="quartz.jobClass"></td>
                                <td>任务链接url</td>
                                <td><input id="url" type="text" ng-model="url"></td>
                                <td>任务描述</td>
                                <td><input id="description" type="text" ng-model="quartz.description"></td>
                            </tr>

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td>触发器名称</td>
                                    <td>开始时间</td>
                                    <td>结束时间</td>
                                    <td>重复次数</td>
                                    <td>间隔时间</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="trigger in quartz.triggers">
                                    <td><input id="triggerName" type="text" ng-model="trigger.triggerName"></td>
                                    <td><input id="startTime" type="text" ng-model="trigger.startTime"></td>
                                    <td><input id="endTime" type="text" ng-model="trigger.endTime"></td>
                                    <td><input id="repeatCount" type="text" ng-model="trigger.repeatCount"></td>
                                    <td><input id="repeatInterval" type="text" ng-model="trigger.repeatInterval">ms</td>
                                    <td>
                                        <a href="" ng-click="addClo()">添加</a>
                                    </td>
                                </tr>
                                <td>
                                    <button class="btn btn-large btn-primary" ng-click="saveQuartz()" type="button">保存
                                    </button>
                                </td>
                                </tbody>

                            </table>

                        </table>


                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <td>任务名称</td>
                                <td>任务执行Class</td>
                                <td>任务链接url</td>
                                <td>触发器名称</td>
                                <td>开始时间</td>
                                <td>结束时间</td>
                                <td>重复次数</td>
                                <td>间隔时间</td>
                                <td>
                                    <button class="btn btn-large btn-primary" type="button">启动</button>
                                </td>
                                <td>
                                    <button class="btn btn-large btn-primary" type="button">暂停</button>
                                </td>
                                <td>
                                    <button class="btn btn-large btn-primary" type="button">删除</button>
                                </td>
                            </tr>

                            <tr ng-repeat="quartz in quartzList">
                                <td>{{quartz.jabName}}</td>
                                <td>{{quartz.jobClass}}</td>
                                <td>{{quartz.jobDatas[0].value}}</td>
                                <td>quartz.triggerName</td>
                                <td>cronpress</td>
                                <td>urlKey</td>
                                <td>urlValue</td>
                                <td>urlValue</td>
                                <td>urlValue</td>
                                <td>
                                    <button class="btn btn-large btn-primary" type="button">启动</button>
                                </td>
                                <td>
                                    <button class="btn btn-large btn-primary" type="button">暂停</button>
                                </td>
                                <td>
                                    <button class="btn btn-large btn-primary" type="button">删除</button>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <!--监听-->
                    <div id="listener" ng-show="listenerShow">
                        <!--<div class="gridListenerStyle" ng-grid="gridListenerData"></div>-->
                    </div>
                </section>

            </div>
        </div>
    </div>


    <div class="footer">
        <p>@I1 2013</p>
    </div>

</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/largeLoad.js"></script>
<script src="js/ng-grid.js"></script>


<script src="quartzjs/quartz-model.js"></script>
<script src="quartzjs/schedule-app.js"></script>
<script src="quartzjs/schedule-controller.js"></script>

</body>
</html>