
.bs-docs-sidebar ul{
    /*border:1px solid #ddd;*/
}

.span9{
    margin-left: 300px;
    border:1px solid #ddd;
    height: 500px;
}

.gridserverStyle{
    border: 1px solid rgb(212,212,212);
    width: 600px;
    height: 300px;
}
.gridListenerStyle{
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px;
}
.gridTriggerStyle{
    border: 1px solid rgb(212,212,212);
    width: 870px;
    height: 300px;
}
.gridJobDetailStyle{
    border: 1px solid rgb(212,212,212);
    width: 870px;
    height: 300px;
}
.quartz-items ul li{
    float: left;
    list-style-type:none;
}

.repeatCount{
    width: 30px;
}

.repeatIntervalUnits{
    width: 70px;
}

.abouttime{
    width:160px;
}

.interval{
    width: 120px;
}

.triggername{
    width: 120px;
}
